.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 153px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links {
    display: flex;
    list-style: none;
    margin-top: 10px;
  }
  
  .footer-links li:not(:last-child) {
    margin-right: 20px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  