.currency-table {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    box-shadow: 4px 3px 5px 6px #ccc;
  }
  
  th {
    background-color: #ddd;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
  }
  
  td {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  
  .currency-selector {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .currency-selector label {
    margin-right: 1rem;
  }
  
  .currency-selector select {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
  
  .currency-label {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin: 1rem 0;
  }
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .loader .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  h2 {
    text-align: center;
    margin-top: 40px;
  }
  
  .select-contry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* adjust as needed */
    font-size: 19px;
  }
  
  .select-contry select {
    margin-top: 10px; /* adjust as needed */
    margin-bottom: 16px;
    border: 2px solid black
  }
  